/* ViewProjectButton.css */

.view-code-btn-satyam {
  --width: 100px;
  --height: 40px;
  --tooltip-height: 30px;
  --tooltip-width: 100px;
  --gap-between-tooltip-to-button: 10px;
  --button-color: #1163ff;
  --tooltip-color: var(--layer);
  
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 8px;
  transition: background 0.3s;
  cursor: pointer;
}

.view-code-btn-satyam::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  border: 1px solid var(--border);
  font-size: 0.75rem;
  color: var(--foreground);
  border-radius: 6px;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 5px);
  left: calc(50% - var(--tooltip-width) / 2);
  pointer-events: none;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.view-code-btn-satyam::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: var(--border);
  left: calc(50% - 6px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 6px);
  pointer-events: none;
}

.view-code-btn-satyam::after,
.view-code-btn-satyam::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(.16,1,.3,1);
  z-index: 1000;
}

.view-code-btn-satyam .button-wrapper,
.view-code-btn-satyam .text-content,
.view-code-btn-satyam .icon-content {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-code-btn-satyam .text-content {
  top: 0;
  font-size: 13px;
  font-weight: bold;
}

.view-code-btn-satyam .text-content,
.view-code-btn-satyam .icon-content {
  transition: top 0.4s cubic-bezier(.16,1,.3,1);
}

.view-code-btn-satyam .icon-content {
  color: #fff;
  top: 100%;
}

.view-code-btn-satyam:hover {
  background: #6c18ff;
}

.view-code-btn-satyam:hover .text-content {
  top: -100%;
}

.view-code-btn-satyam:hover .icon-content {
  top: 0;
}

.view-code-btn-satyam:hover::before,
.view-code-btn-satyam:hover::after {
  opacity: 1;
  visibility: visible;
}

.view-code-btn-satyam:hover::after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 10px);
}

.view-code-btn-satyam:hover::before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
